<!DOCTYPE html>
<html>
<head>
    <title>letaflat</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div>
    <select class="selectpicker" id="sel" data-width="fit">
        <option value='en'>English</option>
        <option value='ua'>Українська</option>
    </select>
    <script>
        function setSelectedIndex(s, valsearch) {
        for (i = 0; i< s.options.length; i++)
        {
            if (s.options[i].value == valsearch)
            {
                s.options[i].selected = true;
                break;
            }
        }
     }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    var select = document.querySelector('#sel');
    select.addEventListener('change',function(){
        document.cookie = "lang=" + select.value + ";path=/";
        location.reload();
    });

    window.onload = function () {
        setSelectedIndex(document.getElementById("sel"),readCookie('lang'));
    }
    </script>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                    <div>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                            <a class="navbar-brand" href="/">letaflat</a>
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="/">{{i18n "Home"}}</a>
                            </li>
                            {{#if user}}
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="/users/profile">{{i18n "Profile"}}</a>
                            </li>
                            {{/if}}
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="/users/map">{{i18n "Discover"}}</a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" href="/users/post_apartment">{{i18n "Create advert"}}</a>
                            </li>
                            {{#if user}}
                            <li role="presentation" class="nav-item">
                                <a class="nav-link" onclick="logOut()" href="/users/logout">{{i18n "Logout"}}</a>
                            </li>
                            {{else}}
                                <li role="presentation" class="nav-item">
                                    <a class="nav-link" href="/users/login">{{i18n "Login"}}</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div>
        {{{body}}}
    </div>
    </div>
    <script>
    function logOut() {
      localStorage.removeItem('token');
    }

    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>

