<div>

    <div id="imageHomePage">
        <div id="a">
            <h2 style="font-size: 30px;">{{i18n "Explore over then 3 345"}}</h2>
            <h2 style="font-size: 30px;">{{i18n "rental apartments"}}</h2>
            <form class="form-inline">
                <input class="form-control mr-sm-2 col-sm-4" type="search"
                       placeholder="{{{i18n "Where do you want to live? Zip code, city, address..."}}}"
                       aria-label="Search">
                <button id="Rectangle" class="btn btn-outline-success my-2 my-sm-0" type="submit">{{i18n
                        "Search"}}</button>
            </form>
        </div>
    </div>

    <br><br>
    <div>
        <h2 style="text-align:center;  font-size: 32px;">{{i18n "Featured apartments nearby"}}</h2>
        <p style="text-align:center;color:#bdbdd8">{{i18n
                "See all of the apartments posted on our platform - choose the one you need"}}</p>
        <div class="index row" id="index-aps">
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-light" style="margin-left:45%"
            onclick="location.href=self.location+'users/map'">{{i18n "SEE MORE (1,456)..."}}</button>
</div>

<br><br>
<div>
    <h2 style="text-align:center">{{i18n "Popular Cities for living"}}</h2>
    <p style="text-align:center;color:#bdbdd8">{{i18n "We strive to grow fast"}}</p>
    <div class="index row">
            <div class="col-sm-5">
                <h2 id="NewYork">{{i18n "New York"}}</h2>
            </div>
            <div class="col-sm-5">
                <img src="/static/image/home_page/qet.png">
                <img src="/static/image/home_page/qet.png">
            </div>
        </div>
    </div>
<br><br>
<div>
    <h2 style="text-align:center">{{i18n "How it works"}}</h2>
<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
        <div class="slider__contents">
            <h2 class="slider__caption">{{i18n "If you are a Renter"}}</h2>
            <p class="slider__txt">{{i18n "And you need to leave your perfect apartment"}}<br>
                {{i18n "Please, post an advert with renters policy and hours for visiting stated."}}<br>
                {{i18n "Wait for applications."}}
            </p>
        </div>
        <div class="slider__contents">
            <h2 class="slider__caption">{{i18n "If you are a Seeker"}}</h2>
            <p class="slider__txt">{{i18n "And you are looking for a new home"}}<br>
                {{i18n "Please, discover adverts and apply for those that you fit."}}<br>
                {{i18n "Wait for acceptance."}}
            </p>
        </div>
        <div class="slider__contents">
            <h2 class="slider__caption">{{i18n "If it's a match "}} &#10084;</h2>
            <p class="slider__txt">{{i18n "Renter accepts the application (with address verification)"}}<br>
                {{i18n "and then Seeker receives his contacts and number of the house"}}<br>
                {{i18n "Renters shows an apartment and introduce Seeker to the Owner."}}
            </p>
        </div>
        <div class="slider__contents">
            <h2 class="slider__caption">{{i18n "If the deal has taken place"}}</h2>
            <p class="slider__txt">{{i18n "Renter closes an advert, choose Seeker from applied users and rate him."}}<br>
                {{i18n "Seeker is paying a reward for Renter."}}
            </p>
        </div>
    </div>
</div>
</div>
<br><br>
<div>
    <h2 style="text-align:center">{{i18n "What people say"}}</h2>
    <p style="text-align:center;color:#bdbdd8">{{i18n "They say we need to save the world from maklers"}}</p>
    <div class="container">

    </div>
</div>

<div id="footer">
    <h5 id="footerHeader">{{i18n "Ready to get Started?"}}</h5>
    <div  id="srcOnApllication">
        <img style="vertical-align: bottom;" src="/static/image/home_page/download-on-app-store-png-how-to-download-the-app-.png">
        <img src="/static/image/home_page/fairhotel-google-play.png">
    </div>
</div>

<footer id="footerEnd" class="page-footer font-small mdb-color pt-4">
    <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="mb-2 font-weight-bold">{{i18n "FAQ"}}</h6>
        </div>

        <div class="col-md-1 col-lg-1 col-xl-2">
            <h6 class="mb-2 font-weight-bold">{{i18n "Privacy policy"}}</h6>
        </div>

        <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="mb-2 font-weight-bold">{{i18n "Terms of use"}}</h6>
        </div>
        <div style="padding-right:7rem;" class="col-md-6 col-lg-7 text-md-right">
            <img src="/static/image/home_page/facebook-logo-button.png">
            <img src="/static/image/home_page/instagram.png">
            <img src="/static/image/home_page/twitter-logo-button.png">

        </div>
        <!-- Grid column -->
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Letaflat</a>
    </div>
</footer>
<script>
    var listing = document.getElementById('index-aps');
    async function getApsFromServer() {
        try {
            const data = await fetch('/api/apartments');
            return data.json();
        } catch (error) {
            console.error('Cannot fetch data: ', error);
        }
    }

    async function renderListings() {
        var apartments = await getApsFromServer();
        if (apartments.length) {
            apartments.forEach(function (apartment) {
                var item = document.createElement('div');
                item.innerHTML = apartmentTemplate(apartment.title, apartment.address, apartment.price, apartment.amenities);
                item.addEventListener('click',function(){
                    window.location += 'users/open_flat';
                });
                item.addEventListener('mouseover', function () {
                    this.style.cursor = 'pointer';
                });
                item.addEventListener('mouseleave', function () {
                    this.style.cursor = 'default';
                });
                listing.append(item);
            });
        }
    }


    window.addEventListener('DOMContentLoaded', renderListings);

    const apartmentTemplate = (title, address, price, amenities) => `
    <div class="card">
        <img class="card-img-top" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/8369d8db-ed9d-4518-8eaa-18dc732dd039.svg">
        <br>
        <div class="row">
            <div class="col-sm-7">
                <div class="container">
                    <p style="font-size: 16px;  font-weight: bold;">${title}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <h4 id="priceApartments">${price} UAH</h4>
            </div>
            <div class="col-sm-12">
             <p id="location">
                        <img src="/static/image/home_page/maps-and-flags (7).png">
                        ${address}
             </p>
             </div>

        </div>
        <hr>
        <div>
            <p id="amenities">
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/52fd1e3e-9611-4ffe-8c38-67cd94480944.svg">
                {{i18n "studio"}}
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/0b92a325-2b60-4c59-a941-117d28169094.svg">
                {{i18n "children"}}
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/4155d6c5-cdd3-4197-be70-196dc89a83b6.svg">
                {{i18n "pets"}}
            </p>
        </div>
    </div>`
</script>
