<div class="row">
    <div id="loginImg" class="col-sm-4">
        <h1>{{i18n "Welcome"}}</h1>
        <p>Цей сайт було створено для передачі житла в довгострокову оренду від одних жильців до інших, щоб зекономити час та гроші. Ми віримо, що таким чином зможемо позбутися непотрібних і навязливих послуг маклерів</p>
    </div>
    <div class="col-sm">
        <div id="loginPage">
            <h4>{{i18n "Sign In"}}</h4>
            <p>{{i18n "If you have not registered yet, please "}}<a href="/users/register">{{i18n "Register"}}</a></p>
            <br>
            <form method="post" action="/users/login">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/RentCross/male.png"></span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" placeholder="{{{i18n "Username"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/assets_sign in_2019-06-04/padlock.png"></span>
                    </div>
                    <input type="password" id="password" class="form-control" name="password" placeholder="{{{i18n "Password"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <button id="loginButton" type="submit" class="btn btn-dark btn-block" onclick="getToken()" >{{i18n "Submit"}}</button>
                <hr>
                <br>
            </form>
            <div id="token"></div>
            <script>
                function getToken() {
                    var loginUrl = "/login";
                    var xhr = new XMLHttpRequest();
                    var userElement = document.getElementById("username");
                    var passwordElement = document.getElementById("password");
                    var tokenElement = document.getElementById("token");
                    var user = userElement.value;
                    var password = passwordElement.value;

                    xhr.open("POST", loginUrl, true);
                    xhr.setRequestHeader("Content-Type", "application/json", "charset=UTF-8");
                    xhr.addEventListener("load", function (e) {
                        var responseObject = JSON.parse(this.response);
                        if (responseObject.token) {
                            localStorage.setItem("token", responseObject.token);
                        } else {
                            tokenElement.innerHTML = "No token received";
                        }
                    });
                    var sendObject = JSON.stringify({ username: user, password: password });
                    console.log("going to send", sendObject);
                    xhr.send(sendObject);
                }


            </script>
            <div class="col-lg-12">
                {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}


                {{#if error_msg}}
                <div class="alert alert-success">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                <div class="alert alert-success">{{error}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
