<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>
<div id="map-page">
    <div>
        <fieldset id="apartments-field">
            <input id='feature-filter' type='text' placeholder="{{{i18n 'Filter results by name'}}}"/>
        </fieldset>
        <div id='apartments' class='row'></div>
    </div>
    <div id='map'></div>
</div>
<script>
    const apartmentTemplate = (title, address, price, amenities) => `
 <div class="card">
        <img class="card-img-top" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/8369d8db-ed9d-4518-8eaa-18dc732dd039.svg">
        <br>
        <div class="row">
            <div class="col-sm-7">
                <div class="container">
                    <p style="font-size: 16px;  font-weight: bold;">${title}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <h4 id="priceApartments">${price} UAH</h4>
            </div>
            <div class="col-sm-12">
             <p id="location">
                        <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/9437861b-ac0b-455d-b681-8e594a866596.svg">
                        ${address}
             </p>
             </div>

        </div>
        <hr>
        <div>
            <p id="amenities">
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/52fd1e3e-9611-4ffe-8c38-67cd94480944.svg">
                {{i18n "studio"}}
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/0b92a325-2b60-4c59-a941-117d28169094.svg">
                {{i18n "children"}}
                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/4155d6c5-cdd3-4197-be70-196dc89a83b6.svg">
                {{i18n "pets"}}
            </p>
        </div>
    </div>`

    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFsc2Vmb3gxMyIsImEiOiJjanVzY3F0NWowNnd6NDRueDA5c2hyZWYxIn0.te50enEW57dgXHWpbG7DgA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/falsefox13/cjusfux1t4f9k1fmgirnx4bpo', // style URL
        center: [23.9421955, 49.8327787],
        zoom: 8
    });

    // Holds visible apartment features for filtering
    var apartments = [];

    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
        closeButton: false
    });

    var filterEl = document.getElementById('feature-filter');
    var listingEl = document.getElementById('apartments');

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function renderListings(features) {
        // Clear any existing listings
        listingEl.innerHTML = '';
        filterEl.parentNode.style.display = 'block';

        if (features.length) {
            features.forEach(function (feature) {
                var prop = feature.properties;
                var item = document.createElement('div');
                item.class = "col-sm-6 apartment";
                item.innerHTML = apartmentTemplate(prop.title, prop.address, prop.price, prop.amenities);
                item.addEventListener('click',function(){
                    window.location = './open_flat';
                });
                item.addEventListener('mouseover', function () {
                    this.style.cursor = 'pointer';
                    // Highlight corresponding feature on the map
                    popup.setLngLat(feature.geometry.coordinates)
                            .setText(feature.properties.title)
                            .addTo(map);
                });
                item.addEventListener('mouseleave', function () {
                    this.style.cursor = 'default';
                    popup.remove();
                });
                listingEl.append(item);
            });
        } else {
            var empty = document.createElement('p');
            if (readCookie('lang') == 'ua') {
                empty.textContent = 'Нічого не знайдено, спробуйте змінити локацію';
            } else {
                empty.textContent = 'Move it somewhere';
            }
            listingEl.append(empty);

            map.setFilter('apartment', ['has', 'title']);
        }
    }

    function normalize(string) {
        return string.trim().toLowerCase();
    }

    async function getCoordinatesFromServer() {
        try {
            const data = await fetch('/api/coordinates');
            return data.json();
        } catch (error) {
            console.error('Cannot fetch data: ', error);
        }
    }

    map.on('load', async function () {
        var coordinates = await getCoordinatesFromServer();
        map.addSource("apartments", {
            type: "geojson",
            data: coordinates,
            cluster: false,
            clusterMaxZoom: 14,
            clusterRadius: 50
        });

        map.addLayer({
            id: "clusters",
            type: "circle",
            source: "apartments",
            filter: ["has", "point_count"],
            paint: {
                "circle-color": [
                    "step",
                    ["get", "point_count"],
                    "#6461f7",
                    100,
                    "#0803ff",
                ],
                "circle-radius": [
                    "step",
                    ["get", "point_count"],
                    20,
                    100,
                    30,
                ]
            }
        });

        map.addLayer({
            id: "cluster-count",
            type: "symbol",
            source: "apartments",
            filter: ["has", "point_count"],
            layout: {
                "text-field": "{point_count_abbreviated}",
                "text-font": ["Roboto Black"],
                "text-size": 13,
            },
            paint: {"text-color": "#ffffff"}
        });


        map.addLayer({
            "id": "apartment",
            "source": "apartments",
            "type": "symbol",
            filter: ["!", ["has", "point_count"]],
            "layout": {
                "icon-image": "map-pin-silhouette",
                "icon-padding": 0,
                "icon-allow-overlap": true
            }
        });

        map.on('click', 'clusters', function (e) {
            var features = map.queryRenderedFeatures(e.point, {layers: ['clusters']});
            var clusterId = features[0].properties.cluster_id;
            map.getSource('apartments').getClusterExpansionZoom(clusterId, function (err, zoom) {
                if (err)
                    return;

                map.easeTo({
                    center: features[0].geometry.coordinates,
                    zoom: zoom
                });
            });
        });

        map.on('moveend', function () {
            var features = map.queryRenderedFeatures({layers: ['apartment']});

            if (features) {
                renderListings(features);

                // Clear the input container
                filterEl.value = '';

                // Store the current features in sn `apartments` variable to
                // later use for filtering on `keyup`.
                apartments = features;
            }
        });

        map.on('mousemove', 'apartment', function (e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            // Populate the popup and set its coordinates based on the feature.
            var feature = e.features[0];
            popup.setLngLat(feature.geometry.coordinates)
                    .setText(feature.properties.title)
                    .addTo(map);
        });

        map.on('mouseleave', 'apartment', function () {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });

        map.on('mouseenter', 'clusters', function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', 'clusters', function () {
            map.getCanvas().style.cursor = '';
        });

        filterEl.addEventListener('keyup', function (e) {
            var value = normalize(e.target.value);
            // Filter visible features that don't match the input value.
            var filtered = apartments.filter(function (feature) {
                var name = normalize(feature.properties.title);
                return name.indexOf(value) > -1;
            });
            // Populate the sidebar with filtered results
            if (filtered.length) {
                renderListings(filtered);

                // Set the filter to populate features into the layer.
                map.setFilter('apartment', ['match', ['get', 'title'], filtered.map(function (feature) {
                    return feature.properties.title;
                }), true, false]);
            }
            else
                renderListings([]);
        });

        //initial state
        renderListings(coordinates.features);
        console.log(coordinates);
    });
</script>
