<div>
    <img id="jumbo-img" src="/static/image/open_flat/Rectangle.png" alt="house">
</div>

<div class="card" id="open_flat" style="width: 18rem; height: 30rem;">
    <div class="avatar">
        <div id="ellipse"></div>
        <img alt="" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/3473a417-a071-4e67-9411-73a1cf6058e9.svg">
    </div>
    <div class="card-body">

        <div class="name">{{i18n "Alison Markle"}}</div>
        <div class="info">
        <div class="main">
            <p>24 {{i18n "y.o."}} | {{i18n "Student"}}</p>
        </div>
        </div>
        <hr>
        <div id="available">
            <p>{{i18n "Available from"}}</p>
            <p class="card-values" id="avlbl-date">{{i18n "April 12, 2019"}}</p>
        </div>
        <div id="price">
            <p>{{i18n "Award"}}</p>
            <p class="card-values" id="price-value">{{i18n "$1 000"}}</p>
        </div>
        <div id="month">
            <p>{{i18n "Month price"}}</p>
            <p id="month-price">{{i18n "$ 1 345"}}</p>
        </div>
        <div id="schedule-visit">
            <p>
                <img src="/static/image/open_flat/time.png">
                {{i18n "Schedule visit"}}
            </p>
        </div>
    </div>
</div>
<div class="container" id="flat-info">
    <br>
<h3>{{i18n "Luxury Apartments in the city Centre for Couple or Friends"}}</h3>
    <br><br>
    <p id="location" style="margin-left: 0; margin-top: 1rem">
        <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/9437861b-ac0b-455d-b681-8e594a866596.svg">
        {{i18n "вулиця Пасічна, Львів, Львівська область, Україна"}}
    </p>
    <p id="location" style="margin-left: 0; margin-top: 1rem">
        <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/d9c297f0-7bd7-4120-93ee-5bdacbc169be.svg">
        {{i18n "2 beds"}}  &nbsp; &#183; &nbsp;
        {{i18n "1 bath"}}  &nbsp; &#183; &nbsp;
        {{i18n "pets available"}} &nbsp; &#183; &nbsp;
        {{i18n "children available"}}
    </p>
    <br><br>
    <p style="width:">Оренда квартири з окремою терасою з ремонтом, неподалік від площі Корятовича. Вулиця Пасічна. Поруч з супермаркетом Вопак. Квартира простора, компактна, дві кімнати, ліжко і розкладний диван. Індивідуальне газове опалення. Інтернет WI-FI, кабельне ТБ. Уся необхідна побутова техніка. Закритий двір для паркування автомобілів. Хороше транспортне сполучення. До площі Корятовича, 10 хвилин пішки. Розвинена інфраструктура. Ви вже можете дивитися і бронювати. Ключі в агентстві.</p>
</div>
<div class="row" style="margin-left: 1rem">
    <ul>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/television.png"/>
                <p class="amen">{{i18n "TV"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/washing-machine.png"/>
                <p class="amen">{{i18n "washing machine"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/safety-box.png"/>
                <p class="amen">{{i18n "safe"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/fridge.png"/>
                <p class="amen">{{i18n "fridge"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/bed.png"/>
                <p class="amen">{{i18n "bed"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/wifi.png"/>
                <p class="amen">{{i18n "Wi-Fi"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/elevator.png"/>
                <p class="amen">{{i18n "elevator"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/no-smoking.png"/>
                <p class="amen">{{i18n "no smoking"}}</p>
            </label>
        </li>
        <li class="col-sm-2">
            <label class="amenities-flat">
                <img src="/static/image/create/assets_open_flat_2019-06-04/parking.png"/>
                <p class="amen">{{i18n "parking"}}</p>
            </label>
        </li>
    </ul>
    <br><br><br>
    <img  class="flat-info-block" style="width: 85%; height: 15rem;" src="/static/image/open_flat/map.png">
    <div>
        <h2 class="flat-info-block" style="text-align:center;font-size: 32px;">{{i18n "You may like..."}}</h2>
        <div class="index row" id="index-aps">
        </div>
    </div>
</div>
<div class="flat-info-block"></div>
<br><br>
    <footer id="footerEnd" class="page-footer font-small mdb-color pt-4">
        <div class="row">
            <div class="col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-md-1 col-lg-1 col-xl-1">
                <h6 class="mb-2 font-weight-bold">{{i18n "FAQ"}}</h6>
            </div>

            <div class="col-md-1 col-lg-1 col-xl-2">
                <h6 class="mb-2 font-weight-bold">{{i18n "Privacy policy"}}</h6>
            </div>

            <div class="col-md-1 col-lg-1 col-xl-1">
                <h6 class="mb-2 font-weight-bold">{{i18n "Terms of use"}}</h6>
            </div>
            <hr>
            <div style="padding-right:7rem;" class="col-md-6 col-lg-7 text-md-right">
                <img src="/static/image/home_page/facebook-logo-button.png">
                <img src="/static/image/home_page/instagram.png">
                <img src="/static/image/home_page/twitter-logo-button.png">

            </div>
            <!-- Grid column -->
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> Letaflat</a>
        </div>
    </footer>
<script>
    var listing = document.getElementById('index-aps');
    async function getApsFromServer() {
        try {
            const data = await fetch('/api/apartments');
            return data.json();
        } catch (error) {
            console.error('Cannot fetch data: ', error);
        }
    }

    async function renderListings() {
        var apartments = await getApsFromServer();
        var counter = 0;
        if (apartments.length) {
            apartments.forEach(function (apartment) {
                if (counter < 3) {
                    var item = document.createElement('div');
                    item.innerHTML = apartmentTemplate(apartment.title, apartment.address, apartment.price, apartment.amenities);
                    listing.append(item);
                    counter++;
                }
            });
        }
    }


    window.addEventListener('DOMContentLoaded', renderListings);

    const apartmentTemplate = (title, address, price, amenities) => `
    <div class="card" style="height: 20rem">
        <img class="card-img-top" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/8369d8db-ed9d-4518-8eaa-18dc732dd039.svg">
        <br>
        <div class="row">
            <div class="col-sm-7">
                <div class="container">
                    <p style="font-size: 16px;  font-weight: bold;">${title}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <h4 id="priceApartments">${price} UAH</h4>
            </div>
            <div class="col-sm-12">
             <p id="location">
                        <img src="/static/image/home_page/maps-and-flags (7).png">
                        ${address}
             </p>
             </div>

        </div>
    </div>`
</script>
