<div class="container">
    <div style="margin-left: auto; margin-right: auto;" class="container">
        <h2>{{i18n "Post an apartment"}}</h2>
        <hr>
        <form id="form" method="post" action="/apartments/post_apartment">
            <div class="row">
                <div class="input-group mb-3 col-sm-12">
                    <input type="search" id="address-input" class="form-control" name="address" placeholder="{{{i18n "Address"}}}" aria-label="Address" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option >{{i18n "Type"}}</option>
                            <option value="1">{{i18n "Apartment"}}</option>
                            <option value="2">{{i18n "House"}}</option>
                            <option value="3">{{i18n "Room"}}</option>
                        </select>
                    </div>
                </div>

                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="floor" placeholder="{{{i18n "Floor"}}}" aria-label="Floor" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="rooms" placeholder="{{{i18n "Number of rooms"}}}" aria-label="Rooms" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="baths" placeholder="{{{i18n "Number of baths"}}}" aria-label="Baths" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h3>{{i18n "Title"}}</h3>
            <div class="row">
                <div class="input-group mb-3 col-sm-8">
                <input type="text" class="form-control" name="title" placeholder="{{{i18n "Title"}}}" aria-label="Title" aria-describedby="basic-addon1">
                </div>
            <br>
            <div class="input-group mb-3 col-sm-4">
                    <input type="text" class="form-control" name="price" placeholder="{{{i18n "Price"}}}" aria-label="Price" aria-describedby="basic-addon1">
            </div>
            </div>
            <br>
            <div>
                <h3>{{i18n "Description"}}</h3>
                <div class="input-group mb-3">
                    <textarea type="text" class="form-control" name="description" aria-label="Description"
                        aria-describedby="basic-addon1"></textarea>
                </div>

            </div>
            <br>
            <br>
            <br>
            <div>
                <h3>{{i18n "Living Policy"}}</h3>
                <div class="row">
                    <ul>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb1a" />
                            <label class="policy" for="cb1a"><p>{{i18n "For Students"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb2a" />
                            <label class="policy" for="cb2a"><p>{{i18n "For Couple"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb3a" />
                            <label class="policy" for="cb3a"><p>{{i18n "For family with Children"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb4a" />
                            <label class="policy" for="cb4a"><p>{{i18n "For Boys Only"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb5a" />
                            <label class="policy" for="cb5a"><p>{{i18n "For Girls Only"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb6a" />
                            <label class="policy" for="cb6a"><p>{{i18n "Pets Available"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb7a" />
                            <label class="policy" for="cb7a"><p>{{i18n "Cats Available"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb8a" />
                            <label class="policy" for="cb8a"><p>{{i18n "Dogs Available"}}</p></label>
                        </li>
                        <li class="col-sm-3">
                            <input type="checkbox" id="cb9a" />
                            <label class="policy" for="cb9a"><p>{{i18n "Pig Available"}}</p></label>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <h3>{{i18n "Place Amenities"}}</h3>
                <p>{{i18n "What Your Place Offers"}}</p>
                <div class="row">
                    <ul>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb1" />
                            <label class="amenities" for="cb1">
                            <img id="d1"/>
                            <p class="amen">{{i18n "TV"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb2" />
                            <label class="amenities" for="cb2">
                            <img id="d2" />
                            <p class="amen">{{i18n "washing machine"}}
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb3" />
                            <label class="amenities" for="cb3">
                            <img id="d3" />
                            <p class="amen">{{i18n "microwave"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb4" />
                            <label class="amenities" for="cb4">
                            <img id="d4" />
                            <p class="amen">{{i18n "refrigerator"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb5" />
                            <label class="amenities" for="cb5">
                            <img id="d5" />
                            <p class="amen">{{i18n "bed"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb6" />
                            <label class="amenities" for="cb6">
                            <img id="d6" />
                            <p class="amen">{{i18n "Wi-Fi"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb7" />
                            <label class="amenities" for="cb7">
                            <img id="d7" />
                            <p class="amen">{{i18n "elevator"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb8" />
                            <label class="amenities" for="cb8">
                            <img id="d8" />
                            <p class="amen">{{i18n "no smoking"}}</p>
                            </label>
                        </li>
                        <li class="col-sm-2">
                            <input type="checkbox" id="cb9" />
                            <label class="amenities" for="cb9">
                            <img id="d9" />
                            <p class="amen">{{i18n "parking"}}</p>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
           <button id="save" type="submit" class="btn btn-dark btn-block">{{i18n "Save & publish"}}</button>
        </form>
    </div>
</div>
    <br><br><br>
        <footer id="footerEnd" class="page-footer font-small mdb-color pt-4">
            <div class="row">
                <div class="col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-md-1 col-lg-1 col-xl-1">
                    <h6 class="mb-2 font-weight-bold">{{i18n "FAQ"}}</h6>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-2">
                    <h6 class="mb-2 font-weight-bold">{{i18n "Privacy policy"}}</h6>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-1">
                    <h6 class="mb-2 font-weight-bold">{{i18n "Terms of use"}}</h6>
                </div>
                <hr>
                <div style="padding-right:7rem;" class="col-md-6 col-lg-7 text-md-right">
                    <img src="/static/image/home_page/facebook-logo-button.png">
                    <img src="/static/image/home_page/instagram.png">
                    <img src="/static/image/home_page/twitter-logo-button.png">

                </div>
                <!-- Grid column -->
            </div>
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Letaflat</a>
            </div>
        </footer>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
<script>
    var placesAutocomplete = places({
        appId: "pl5P9V6T1Y0M",
        apiKey: "86917783f7a61715f01a6ed442440d4f",
        container: document.querySelector('#address-input'),
        language: 'ua'
    }).configure({
        type: 'address'
    });
    placesAutocomplete.on('change', function resultSelected(e) {
        var form=document.getElementById('form');
        var inputLng = document.createElement('input');
        inputLng.setAttribute('name', 'coordinates[0]');
        inputLng.setAttribute('value', e.suggestion.latlng.lng);
        inputLng.setAttribute('type', 'hidden');

        var inputLat = document.createElement('input');
        inputLat.setAttribute('name', 'coordinates[1]');
        inputLat.setAttribute('value', e.suggestion.latlng.lat);
        inputLat.setAttribute('type', 'hidden');


        form.appendChild(inputLng);
        console.log(inputLng);
        form.appendChild(inputLat);
    });
</script>
