
<img style="width: 100%; height:10rem" src="/static/image/profile/profile _ posts.png">
<div style="margin-top: -4%" class="container">
    <div class="row">
            <div id="user-container">
            </div>
                <div class="container" id="posts-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item profile">
                            <a class="nav-link active" data-toggle="tab" role="tab" href="#home">
                                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/ecdaaa4a-51e2-4385-b987-f817a68c58ce.svg">
                                    {{i18n "Posts"}}
                            </a>
                        </li>
                        <li class="nav-item profile">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#menu1">
                                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/d8ebfe5d-da46-4152-b52a-4e1881976207.svg">
                                {{i18n "Visiting requests"}}
                            </a>
                        </li>
                        <li class="nav-item profile">
                            <a class="nav-link" data-toggle="tab" role="tab" href="#menu2">
                                <img src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/8f92a9bf-7635-4c3d-9a33-50923a732d75.svg">
                                {{i18n "My visits"}}
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <img style="width: 100%; height: 100%" src="/static/image/profile/posts.png">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="menu1">
                            <img style="width: 100%; height: 100%" src="/static/image/profile/profile_visiting requests.png">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="menu2">
                            <img style="width: 100%; height: 100%" src="/static/image/profile/profile_my requests.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br><br>
<footer id="footerEnd" class="page-footer font-small mdb-color pt-4">
    <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="mb-2 font-weight-bold">{{i18n "FAQ"}}</h6>
        </div>

        <div class="col-md-1 col-lg-1 col-xl-2">
            <h6 class="mb-2 font-weight-bold">{{i18n "Privacy policy"}}</h6>
        </div>

        <div class="col-md-1 col-lg-1 col-xl-1">
            <h6 class="mb-2 font-weight-bold">{{i18n "Terms of use"}}</h6>
        </div>
        <hr>
        <div style="padding-right:7rem;" class="col-md-6 col-lg-7 text-md-right">
            <img src="/static/image/home_page/facebook-logo-button.png">
            <img src="/static/image/home_page/instagram.png">
            <img src="/static/image/home_page/twitter-logo-button.png">

        </div>
        <!-- Grid column -->
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Letaflat</a>
    </div>
</footer>
<script>
    const token = localStorage.getItem('token');
    const tokenParts = token.split('.');
    const encodedPayload = tokenParts[1];
    const rawPayload = atob(encodedPayload);
    const user = JSON.parse(rawPayload);
    console.log(user.id);
    const userTemplate = (username, number, age) => `
            <div class="card" style="width: 18rem; height: 33rem;">
                <div class="avatar">
                    <div id="ellipse"></div>
                    <img alt="" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/3473a417-a071-4e67-9411-73a1cf6058e9.svg">
                </div>
                <div class="info">
                    <div class="name">${username}</div>
                    <div class="main">
                        <p>${age} {{i18n "y.o."}} | {{i18n "Student"}}</p>
                    </div>
                    <hr width="80%;">
                    <div class="desc">{{i18n "This is a place for your short biography - let everybody know your best traits"}}</div>
                    <div class="desc">
                        <img class="icon" src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-round-2/254000/83-512.png">
                    </div>
                    <div class="desc">${number}</div>
                    <div class="desc">
                        <img class="icon" src="https://cdn4.iconfinder.com/data/icons/colorful-design-basic-icons-1/550/contact_email_red-512.png">
                    </div>
                    <div class="desc">email.com</div>
                    <div class="desc">
                        <img class="icon" src="https://cdn.zeplin.io/5cb39a3e3a811c9df0982d3f/assets/42489cf4-2473-47ce-b294-8d11ba9417a5.svg">
                    </div>
                    <div class="desc">fb.me</div>
                </div>
    `

    class DataService {
        async getFromServer(id) {
            try {
                const data = await fetch('/api/users/'+ id);
                return data.json();
            } catch (error) {
                console.error('Cannot fetch data: ', error);
            }
        }
    }
    const service = new DataService();
    const initAndRenderData = async () => {
        const item = await service.getFromServer(user.id);
        console.log(item);
        $('#user-container').append(
            userTemplate(item.username, item.number, item.age, )
        );
    };


    window.addEventListener('DOMContentLoaded', initAndRenderData);

</script>

