<div class="row">
    <div id="loginImg" class="col-sm-4">
        <h1>{{i18n "Welcome"}}</h1>
        <p>{{i18n "Letaflat was created for passing rent from tennant to tennant in order to save time & money. We
         believe that rent can be done without the Broker’s unnecessary, imposed and expensive services "}}</p>
    </div>
    <div class="col-sm">
        <div id="registerPage">
            <h4>{{i18n "Sign Up"}}</h4>
            <p>{{i18n "If you already have an account, please "}}<a href="/users/login">{{i18n "LogIn"}}</a></p>
            <br>
            <form method="post" action="/users/register">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/RentCross/male.png"></span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="{{{i18n "Username"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/RentCross/call-answer.png"></span>
                    </div>
                    <input type="text" class="form-control" name="number" placeholder="{{{i18n "Number"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img src="/static/image/register/RentCross/circular-line-with-word-age-in-the-center.png"></span>
                    </div>
                    <input type="text" class="form-control" name="age" placeholder="{{{i18n "Age"}}}" aria-label="Age" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/assets_sign in_2019-06-04/padlock.png"></span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="{{{i18n "Password"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><img
                                src="/static/image/register/assets_sign in_2019-06-04/padlock.png"></span>
                    </div>
                    <input type="password" class="form-control" name="password2" placeholder="{{{i18n "Confirm password"}}}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <button type="submit" id="registerButton" class="btn btn-dark btn-block">{{i18n "Sign Up"}}</button>
                <hr>
            </form>
            <div class="col-lg-12">
                {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}


                {{#if error_msg}}
                <div class="alert alert-success">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                <div class="alert alert-success">{{error}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
