<div class="container">
    <div id="registerPage">
        <h4 id="registerHeader">Update profile</h4>
        <br>
        <form method="post" action="/users/update_profile">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Id</span>
                </div>
                <input type="text" class="form-control" name="id" placeholder="Id" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Number</span>
                </div>
                <input type="text" class="form-control" name="number" placeholder="Number" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Age</span>
                </div>
                <input type="text" class="form-control" name="age" placeholder="name" aria-label="Age"
                    aria-describedby="basic-addon1">
            </div>
            <br>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
            <hr>
        </form>
    </div>
</div>