body {
    max-width: 100%;
    overflow-x: hidden;
}

#loginPage {
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
}

#loginImg {
    background-image: url("/static/image/register/RentCross/Rectangle.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    /* min-width: 40%;  */
    color: white;
    text-align: center;
}

#loginImg h1 {
    margin-top: 25%;
}

#loginButton {
    border-color: #fff;
    width: 149px;
    height: 47px;
    font-family: Roboto;
    background-image: linear-gradient(to top, #0803ff, #6461f7);
    font-size: 15px;
    font-weight: 500;
}

#save {
    margin: auto;
    display: block;
    width: 357px;
    border-color: #fff;
    background-image: linear-gradient(to top, #0803ff, #6461f7);
}

#registerButton {
    width: 149px;
    height: 47px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    border-color: #fff;
    background-image: linear-gradient(to top, #0803ff, #6461f7);
}

#registerPage {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

#imageHomePage {
    background-image: url("/static/image/home_page/Rectangle.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

#a {
    padding-top: 20%;
    padding-left: 5%;
}

#Rectangle {
    color: #fff;
    background-image: linear-gradient(to top, #9e00ff, #0803ff);
}

#apartments {
    margin-left: 2%;
    width: 58%;
    overflow: auto;
    height:33.5rem;
}

.card {
    width: 20rem;
    margin: 1.375rem;
    height: 24rem;
    box-shadow: 5px 10px 18px #888888;
}

#profile {
    width: 18rem;
    height: 33rem;
}

#NewYork {
    background-image: url("/static/image/home_page/Rectangle 3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 55vh;
    text-align: center;
    font-family: Raleway;
    color: #fdfdfd;
    padding-top: 30%;
}

#priceApartments {
    color: #ff003d;
}

.index.row {
    margin-left: 6rem;
}

#location {
    color: rgba(166, 165, 197, 0.83);
    margin-left: 15px;
}

#amenities {
    margin-left: 15px;
}

#country {
    color: #bdbdd8;
}

#footer {
    background-color: #06052b;
}

#footerHeader {
    margin-top: 10%;
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 300;
}

#footerEnd {
    background-color: rgba(189, 189, 216, 0.07);
}

#srcOnApllication {
    margin: auto;
    width: 28%;
    padding-bottom: 5%;
}

#map-page {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    left: 60%;
    width: 40%;
    height: 90%;
}

#LivingPolicy {
    margin: 10px;
    background-color: #6461f8
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

li.col-sm-2 {
    margin-bottom: 2.2rem;
    margin-left: 2.2rem;
}

input[type="checkbox"][id^="cb"] {
    display: none;
}

#sel {
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

#apartments-field {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
    width: 60%
}

input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
}

#apartments .apartment:hover {
    background: #f0f0f0;
}

label.policy {
    text-align: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    border-radius: 50px;
    border: solid 0.6px #bdbdd8;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.policy p {
    margin-bottom: 5px;
}

:checked + label.policy {
    background-color: #6461f8;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.65);
}

label.amenities {
    border: solid 0.6px #bdbdd8;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
}

:checked + label.amenities {
    border-color: #6461f8;
}

img {
    border: 0;
    outline: none;
}

p.amen {
    font-size: 11px;
}

.amenities-flat {
    border: solid 0.6px #6461f8;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
}

.amenities-flat img {
    margin-top: 30px;
}

/*  */
label.amenities #d1 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/television.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d1 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/television.png);
    background-size: 36px;
}

/*  */
label.amenities #d2 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/washing-machine.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d2 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/washing-machine.png);
    background-size: 36px;
}

/*  */
label.amenities #d3 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/safety-box.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d3 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/safety-box.png);
    background-size: 36px;
}

/*  */
label.amenities #d4 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/fridge.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d4 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/fridge.png);
    background-size: 36px;
}

/*  */
label.amenities #d5 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/bed.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d5 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/bed.png);
    background-size: 36px;

}

/*  */
label.amenities #d6 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/wifi.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d6 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/wifi.png);
    background-size: 36px;

}

/*  */
label.amenities #d7 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/elevator.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d7 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/elevator.png);
    background-size: 36px;

}

/*  */
label.amenities #d8 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/no-smoking.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d8 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/no-smoking.png);
    background-size: 36px;

}

/*  */
label.amenities #d9 {
    margin-top: 30px;
    background-image: url(/static/image/create/assets_create_post_2019-06-04/parking.png);
    background-size: 36px;
    height: 36px;
    width: 36px;
}

:checked + label #d9 {
    background-image: url(/static/image/create/assets_open_flat_2019-06-04/parking.png);
    background-size: 36px;

}

.slider {
    height: 20rem;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.5s linear forwards;
    animation: check 0.5s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
}

.slider__inner {
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__image { font-size: 2.7rem; }

.slider__caption {
    font-weight: 900;
    font-size: 24px;
    margin: 2rem 0 1rem;
    color: #9796ba;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 500px;
}

@-webkit-keyframes
check {  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
}
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes
check {  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
}
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

.avatar {
    margin: 3rem auto 1rem auto;
}

.avatar img {
    margin-top: -112px;
}

#ellipse {
    width: 84px;
    margin-left: -2px;
    height: 84px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #9e00ff, #0803ff);
}
.name {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgba(6, 5, 43, 0.83);
}

.card .info .main {
    color: #b8b7d3;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.icon {
    height: 15px;
    width: 15px;
}

.card .info .desc {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 0.5rem 1.5rem;
}

.nav-item.profile {
    width: 30%;
}

.nav-item.profile a{
    color: #b8b7d3;
    text-decoration: none;
}

#posts-container {
    width: 70%;
    margin-top: 10%;
}

.card#open_flat {
    position: relative;
    left: 900px;
    bottom: 70px;
    padding-top: 10px;
}

.card-title{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgba(6, 5, 43, 0.83);
}

.card-text{
    display: flex;
    justify-content: center;
}

#available, #price, #month{
    display: flex;
    justify-content: space-between;
}

#price-value{
    position: relative;
    top: 7px;
}

#avlbl-date{
    position: relative;
    top: 6px;
}

.card-values{
    height: 30px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6461f7;
}

#month-price{
    font-size: 25px;
    color: #ff003d;
}

#schedule-visit{
    text-align: center;
    border-radius: 2px;
    height: 1.8rem;
    padding: 4px;
    background-image: linear-gradient(to top, #9e00ff, #0803ff);
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}

#flat-info {
    width: 50%;
    position: absolute;
    top: 30rem;
    left: 5rem;
}

.flat-info-block {
    margin-left: 5rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}